{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Zay Shop eCommerce HTML CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'makeup/img/apple-icon.png'%}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'makeup/img/favicon.ico'%}">
    <link rel="stylesheet" href="{% static 'makeup/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'makeup/css/templatemo.css'%}">
    <link rel="stylesheet" href="{% static 'makeup/css/custom.css'%}">
    <link rel="stylesheet" href="{% static 'makeup/css/fontawesome.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    
    {% block slick_css %}
        
    {% endblock slick_css %}
        

</head>

<body>
   {% include 'part/navbar.html' %}
   {% block contain %} 
   
   {% endblock contain%} 
   {% include "part/footer.html" %}

<!-- Start Script -->
<script src="{% static 'makeup/js/jquery-1.11.0.min.js'%}"></script>
<script src="{% static 'makeup/js/jquery-migrate-1.2.1.min.js'%}"></script>
<script src="{% static 'makeup/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'makeup/js/templatemo.js'%}"></script>
<script src="{% static 'makeup/js/custom.js'%}" ></script>


{% block slik %}
    
{% endblock slik %}
    
</body>
</html>