{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'makeup/css/style.css' %}">
    <title>Document</title>

</head>

<div class="home">
    <!-- {% include 'makeup/navbar.html'%} -->

    <h1>Cosmetic Boutique <small>All your needs MAKEUP in one place </small></h1>
    <div class="main-content">
        <div class="palette__wrapper">
            <div class="palette palette--one">
                <div class="palette__cover">
                    <div class="palette__cover__border"><span>All Prod ucts.</span></div>
                </div>
                <div class="palette__cover__top"></div>
                <div class="palette__base">
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                </div>
            </div>
            <h4> All Products
                <a href="products/all_products"><small> All Products</small>
                    <!-- <a href="/products/"><small> All Products</small> -->

                </a>
            </h4>
        </div>
        <div class="palette__wrapper">
            <div class="palette palette--two">
                <div class="palette__cover">
                    <div class="palette__cover__border"><span>hair care </span></div>
                </div>
                <div class="palette__cover__top"></div>
                <div class="palette__base">
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                </div>
            </div>
            <h4>hair care products<small>see All</small></h4>
        </div>
        <div class="palette__wrapper">
            <div class="palette palette--three">
                <div class="palette__cover">
                    <div class="palette__cover__border"><span>Skin care.</span></div>
                </div>
                <div class="palette__cover__top"></div>
                <div class="palette__base">
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                </div>
            </div>
            <h4>Skin care products<small>see All</small></h4>
        </div>
        <div class="palette__wrapper">
            <div class="palette palette--four">
                <div class="palette__cover">
                    <div class="palette__cover__border"><span>All Brands.</span></div>
                </div>
                <div class="palette__cover__top"></div>
                <div class="palette__base">
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                </div>
            </div>
            <h4>Brands
                <a href="/brand/all_brands"><small>see All</small>
                    <!-- <a href="/products/"><small> All Products</small> -->

                </a>
            </h4>
        </div>


        <div class="palette__wrapper">
            <!-- <div class="palette palette--four">
                <div class="palette__cover">
                    <div class="palette__cover__border"><span>All Brands.</span></div>
                </div>
                <div class="palette__cover__top"></div>
                <div class="palette__base">
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>


                </div>
            </div>
            <h4>Brands<small>see All</small></h4> -->
        </div>
    </div>

</div>

</html>
<!-- {% include 'makeup/footer.html'%} -->