{% load static %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'makeup/css/style.css' %}">
    <title>Document</title>

</head>


  {%if request.user.is_authenticated%}
  <h1>
    Hellow {{request.user}}
  </h1>
  
  <a href="{% url 'logout'%}"> logout</a>
  {%else%}
   <a href="{% url 'login'%}"> login</a>
   {%endif%}
   <a href="/">navBar</a>
   <form method="GET" action="{% url 'products' %}">
     <input type="search" name="q" placeholder="Search produtcs !!!" />
  

   </form>
   <a href="{% url 'login' %}"></a>

   {% block home %}
  
{% endblock home %}

{% block login %}
{% endblock login %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li></li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}