
{% load static %}




<div class="home">
    <h1>Cosmetic Boutique <small>All your needs MAKEUP in one place </small></h1>
    <div class="main-content">
        <div class="palette__wrapper">
            <div class="palette palette--one">
                <div class="palette__cover">
                    <div class="palette__cover__border"><span>All Prod ucts.</span></div>
                </div>
                <div class="palette__cover__top"></div>
                <div class="palette__base">
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                </div>
            </div>
            <h4> All Products
                <a href="/products/all_products"><small> All Products</small>
                    <!-- <a href="/products/"><small> All Products</small> -->

                </a>
            </h4>
        </div>
        <div class="palette__wrapper">
            <div class="palette palette--two">
                <div class="palette__cover">
                    <div class="palette__cover__border"><span>hair care </span></div>
                </div>
                <div class="palette__cover__top"></div>
                <div class="palette__base">
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                </div>
            </div>
            <h4>hair care products<small>see All</small></h4>
        </div>
        <div class="palette__wrapper">
            <div class="palette palette--three">
                <div class="palette__cover">
                    <div class="palette__cover__border"><span>Skin care.</span></div>
                </div>
                <div class="palette__cover__top"></div>
                <div class="palette__base">
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                </div>
            </div>
            <h4>Skin care products<small>see All</small></h4>
        </div>
        <div class="palette__wrapper">
            <div class="palette palette--four">
                <div class="palette__cover">
                    <div class="palette__cover__border"><span>All Brands.</span></div>
                </div>
                <div class="palette__cover__top"></div>
                <div class="palette__base">
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                </div>
            </div>
            <h4>Brands
                <a href="/brand/all_brands"><small>see All</small>
                    <!-- <a href="/products/"><small> All Products</small> -->

                </a>
            </h4>
        </div>


        <div class="palette__wrapper">
            <!-- <div class="palette palette--four">
                <div class="palette__cover">
                    <div class="palette__cover__border"><span>All Brands.</span></div>
                </div>
                <div class="palette__cover__top"></div>
                <div class="palette__base">
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>
                    <div class="palette__shade"></div>


                </div>
            </div>
            <h4>Brands<small>see All</small></h4> -->
        </div>
    </div>

</div>
